.pagination-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &__btn {
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid $color-neutral-50;
    border-radius: $border-radius-s;
    cursor: pointer;
    transition: all 0.3s ease;

    &--active {
      background-color: $color-neutral-50;
    }
  }
}
